{block content}

<h1 n:block="title" class="page-title">Změna e-mailové adresy</h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="alert alert-info">
			Prosím, zadejte svou novou e-mailovou adresu.<br>
			Na novou adresu Vám pošleme zprávu s pokyny pro dokončení změny.
		</div class="alert alert-info">
		{control emailForm}
	</div>
</div>