<nav>
	<ul class="nav nav-pills nav-stacked">
		<li n:class="$presenter->isLinkCurrent('medodvcelare') ? active"><a n:href="medodvcelare">Když med, tak od včelaře</a></li>
		<li n:class="$presenter->isLinkCurrent('pravdymyty') ? active"><a n:href="pravdymyty">Pravdy a mýty o medu</a></li>
		<li n:class="$presenter->isLinkCurrent('potrebujeme') ? active"><a n:href="potrebujeme">Proč potřebujeme včely?</a></li>
		<li n:class="$presenter->isLinkCurrent('codelatkdyz') ? active"><a n:href="codelatkdyz">Co dělat když?</a></li>
		<li n:class="$presenter->isLinkCurrent('vedelijsteze') ? active"><a n:href="vedelijsteze">Věděli jste že?</a></li>
	</ul>
</nav>
