{block content}

<h1 n:block="title" class="page-title">Přidání včelstva / nového úlu</h1>

<div class="row with-margin">
    <div class="col-md-8 col-md-offset-2">
		{control addForm}
    </div>
</div>
