{block content}

<h1 n:block="title" class="page-title">Úprava kontroly včelstva</h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{form editForm class => 'form-horizontal'}
			{include components/form.latte, _form => $form}
		{/form}
	</div>
</div>
