
<div class="terms">

    <p>Informační systém VCELSTVA.CZU.CZ je určen k zajištění komunikace a k anonymnímu sdílení dat mezi uživateli registrovanými v tomto systému, a to za účelem osvěty, výzkumu a ochrany v oblasti chovu včel na území ČR.</p>
    <p>Veškerá zadaná data a osobní údaje ze strany registrovaných uživatelů budou, pokud registrovaní uživatelé nerozhodnou sami v rámci informačního systému jinak, neveřejná a nebudou dále předávána institucím státní správy (veřejné správy) bez souhlasu registrovaných uživatelů.</p>
    <p>Registrující se uživatel bere dále na vědomí a souhlasí s tím, že z jeho strany zadaná data do informačního systému VCELSTVA.CZU.CZ mohou být v anonymní podobě, tj. bez osobních údajů, údajů soukromé povahy a údajů o poloze, poskytnuta smluvním partnerům a sponzorům České zemědělské univerzity v Praze a následně těmito anonymně zpracovávána, případně mohou být takto zpracovávána samotnou Českou zemědělskou univerzitou v Praze.</p>
    <p>Registrující se uživatel odesláním tohoto formuláře dává České zemědělské univerzitě v Praze souhlas v souladu se zákonem č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů (dále jen „ZOOÚ“), ke zpracování jím zadaných osobních údajů a bere na vědomí, že toto poskytnutí osobních údajů je dobrovolné. V souladu s § 5 ZOOÚ jsou všechny údaje vkládané do tohoto registračního formuláře, a formulářů následujících, shromažďovány a zpracovávány výhradně pro účely osvěty, výzkumu a ochrany v oblasti chovu včel na území ČR.</p>

</div>
