<nav>
	<ul class="nav nav-pills nav-stacked">
		<li n:class="$presenter->isLinkCurrent('povinnosti') ? active"><a n:href="povinnosti">Zákonné povinnosti včelaře</a></li>
		<li n:class="$presenter->isLinkCurrent('desatero') ? active"><a n:href="desatero">Desatero včelaře</a></li>
		<li n:class="$presenter->isLinkCurrent('zaciname') ? active"><a n:href="zaciname">Začínáme včelařit</a></li>
		<li n:class="$presenter->isLinkCurrent('vcelarskyrok') ? active"><a n:href="vcelarskyrok">Včelařský rok</a></li>
		<li n:class="$presenter->isLinkCurrent('petduvodu') ? active"><a n:href="petduvodu">5 důvodů proč (ne)včelařit</a></li>
	</ul>
</nav>
