{block content}

<h1 n:block="title"><img src="{$basePath}/img/nadpis_h1.png" style="margin-top: -5px;">&nbsp;Obnovení zapomenutého hesla</h1>
<hr>
<div class="row with-margin">
	<div class="col-md-8 col-md-offset-1">
		{control passwordResetForm}
	</div>
</div>