{block content}

<h1 n:block="title" class="page-title">Připojení úlové váhy <small>(krok 1 ze 2)</small></h1>

<div class="alert alert-warning">
	Prosím vyberte si stanoviště, na kterém je umístěna váha <strong>{$zarizeni->nazev}</strong>.
</div>

{control pripojeniZarizeniForm}