{block content}

<h1 n:block="title" class="page-title">Přidání nové úlové váhy</h1>

<div class="alert alert-warning">
	<p>Prosím zadejte údaje o své nové úlové váze.</p>
	<p>Název si můžete zvolit sám(sama), slouží pouze pro Vaši orientaci.</p>
	<p>Identifikátor zařízení a bezpečnostní token Vám musí sdělit výrobce váhy.</p>
</div>

{control vytvoreniZarizeniForm}
